input {
    display: flex;
    width: 200px;
    padding: 10px;
    font-family: "Cormorant Garamond", serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  
  .message-input {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .label {
    display: flex;
    font-size: 15px;
  }
  
  .submit-button {
    font-family: "gotu", serif;
    font-weight: bold;
    width: 100px;
    color: Black;
    padding: 7px;
    margin-top: 15px;
    font-size: 10px;
  }